body {
  overflow: hidden;
}

#root {
  --primary-color: rgba(16, 0, 62, 0.8);
  --secondary-color: rgb(215, 88, 24);
  --accent-color: rgb(162, 189, 214);
  --text-color: white;

  margin: 0 auto;
  text-align: center;

  color: var(--text-color);
}

/* fix attribution appearing below map layers */
.maplibregl-canvas {
  z-index: -1 !important;
}
.maplibregl-map {
  z-index: unset !important;
}

input {
  color: var(--secondary-color);
  background: none;
  border-radius: 1rem;
  font-size: larger;
}

input:focus,
.input:focus {
  outline: none;
}
